.ai-bubble {
    position: absolute;
    bottom: calc(100% + 10px);
    left: 0;
    width: 320px;
    background: #fff;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    z-index: 100;
}

.ai-bubble-error {
    background: rgba(254, 233, 231, 1);
    border-color: #ffccc7;
}

.ai-bubble-header {
    margin-bottom: 4px;
    font-size: 12px;
    font-weight: 500;
}

.ai-bubble-header-error{
    color: rgba(192, 15, 12, 1);
}

.ai-bubble-body {
    font-size: 12px;
    margin-bottom: 8px;
    color: var(--color-text);
    white-space: pre-wrap;
}

.ai-bubble-footer {
    display: flex;
    gap: 8px;
}

.ai-bubble-arrow {
    position: absolute;
    bottom: -6px;
    left: 20px;
    width: 12px;
    height: 12px;
    background: inherit;
    border-left: 1px solid inherit;
    border-top: 1px solid inherit;
    transform: rotate(45deg);
}

.ai-bubble-error .ai-bubble-arrow {
    background: rgba(254, 233, 231, 1);
    border-color: #ffccc7;
}

.ai-bubble-close-error{
    background-color: rgba(252, 179, 173, 1);
}